{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/WN_Content/home/">
        <img src="{% static 'content/placeholder_logo.png' %}" width="50" height="50" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link home" href="/WN_Content/home/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/WN_Content/post_list/">Podcast Episodes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Research & Resources 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'listed_resources' 1 %}">Resource Type 1</a>
            <a class="dropdown-item" href="{% url 'listed_resources' 2 %}">Resource Type 2</a>
            <!-- <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" href="{% url 'listed_resources' 3 %}">Resource Type 3</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>